/* Fonts */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  src: local("PT Sans"),
       url("/fonts/ptsans.woff2") format("woff2"),
       url("/fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: bold;
  src: local("PT Sans"),
       url("/fonts/ptsansbold.woff2") format("woff2"),
       url("/fonts/ptsansbold.woff") format("woff");
}

/* Colors */

:root {
  --basic-background-color: #F2F2F2;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --additional-black: #231F20;
  --dark-grey: #333333;
  --basic-blue: #81B3D2;
  --darker-blue: #669EC0;
  --dark-blue: #5496BD;
  --light-grey: #EEEEEE;
  --light-add-grey: #EBEBEB;
  --darker-grey: #A9A9A9;
  --blocked-grey: #6A6A6A;
  --additional-grey: #ABABAB;
  --basic-brown: #766357;
  --darker-brown: #604E43;
  --dark-brown: #503E33;
  --additional-brown: #766458;
  --basic-shadow: rgba(0, 1, 1, 0.2);
  --popup-shadow: rgba(0, 1, 1, 0.15);
}

/* Global */

body {
  font-family: "PT Sans", sans-serif;
  min-width: 1280px;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-repeat: no-repeat;
}
